---
layout: ../post.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slug }}/{{ pagination.pageNumber }}/"
---

<h1>Tag "{{ tag }}"</h1>

<section class="posts-container">
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    <article class="post">
      <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>

      {% if post.data.description %}
        <p class="post-description">{{ post.data.description }}</p>
      {% elif post.templateContent %}
        <p class="post-description">{{ post.templateContent | striptags | truncate(180, true, '...') }}</p>
      {% endif %}

      <p>
        <span class="post-date">
          {% if post.date %}
            {{ post.date | dateBR }}
          {% endif %}
        </span>
      </p>

    </article>
  {% endfor %}
</section>
